{{!
Add content you wish automatically added to the documents head
here. The 'model' available in this template can be populated by
setting values on the 'head-data' service.
}}
<title>
  {{this.model.title}}
</title>

{{#if this.model.description}}
  <meta name="description" content={{this.model.description}} />
{{/if}}